<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? true: false, 'expanded': expanded}" class="menu-list-item">
  <mat-icon *ngIf="item.icon" class="routeIcon">{{item.icon}}</mat-icon>
  {{item.displayName}}

  <!-- EXPANDED OR COLLAPSED ICON-->
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="item.expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="item.expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>