$toolbar-title-padding: 16px !default;

.toolbar-title {
  margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}