<ng-container *ngIf="userType === 0; else isSuperuser">
  <app-home></app-home>
</ng-container>
<ng-template #isSuperuser>
  <p-dialog header="Empresa" [closable]="false" [contentStyle]="{'overflow':'visible'}"
    [(visible)]="displaySelectEnterprise" [modal]="true" [responsive]="true"
    [style]="{width: '400px', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">

    Por favor seleccione una empresa para continuar:<br />
    <p-dropdown [options]="enterprises" [(ngModel)]="selectedEnterprise" placeholder="Seleccione una empresa"
      optionLabel="enterprisename" [showClear]="true"></p-dropdown>
    <br /><br />
    <strong><label>Empresa seleccionada:
      </label></strong>{{ selectedEnterprise ? selectedEnterprise.enterprisename : 'N.D.'}}
    <br />
    <p-footer>
      <button type="button" pButton icon="pi pi-check" [disabled]="!selectedEnterprise" (click)="redirectToMenu()"
        label="Aceptar"></button>
    </p-footer>
  </p-dialog>
  
  <!-- <ng-container *ngIf=""> -->
    <app-home *ngIf="displayHome"></app-home>
  <!-- </ng-container> -->
</ng-template>