<br>
<div class="row">
  <div class="col-10 offset-1">
    <h3>Monitor</h3>
    <p-panel>

      <p-header>
        <span class="ui-panel-title"> <i class="fa fa-pie-chart"></i> Listado de facturas</span>
      </p-header>

      <p-table [autoLayout]="true" [paginator]="true" [rows]="10" [responsive]="true" [value]="monitor">
        <ng-template pTemplate="header">
          <tr style="background-color: lightgray;text-align: center">
            <th>Nro.</th>
            <th>N&uacute;mero documento</th>
            <th>Raz&oacute;n social</th>
            <th>Subtotal</th>
            <th>Total ($)</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mnt let-rowIndex="rowIndex">
          <tr>
            <td class="text-center">{{rowIndex + 1 }}</td>
            <td>{{mnt.doc_number}}</td>
            <td>{{mnt.razon_social}}</td>
            <td class="text-right">{{mnt.subtotal | currency:'USD'}}</td>
            <td class="text-right">{{mnt.total | currency: 'USD'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>