<p-panel>

  <p-header>
    <span class="ui-panel-title"> <i class="fa fa-pie-chart"></i> Lista de usuarios</span>
  </p-header>

    <button  class="btn btn-primary" type="submit" (click)="showModalUser()">
      <i class="fa fa-plus"></i>Agregar
    </button>
  <p-table [autoLayout]="true" [paginator]="true" [rows]="10" [responsive]="true" [value]="userList">
    <ng-template pTemplate="header">
      <tr style="background-color: lightgray;text-align: center">
        <th>Nro.</th>
        <th>Id usuario</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo electrónico</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
      <tr>
        <td class="text-center">{{rowIndex + 1 }}</td>
        <td>{{user.userName}}</td>
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </ng-template>
  </p-table>

</p-panel>


<p-dialog header="Nuevo usuario" [(visible)]="modalUserDisplay" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
         [baseZIndex]="10000">

  <label>Nombres:</label><br/>
  <input type="text" size="35" [(ngModel)]="newUser.name"  pInputText><br/><br/>
  <label>Apellido:</label><br/>
  <input  type="text" size="35" [(ngModel)]="newUser.lastName"  pInputText><br/><br/>
  <label>Nombre usuario:</label><br/>
  <input  type="text" size="15"  [(ngModel)]="newUser.userName" pInputText><br/><br/>
  <label>Correo electrónico:</label><br/>
  <input  type="text" size="30" [(ngModel)]="newUser.email"  pInputText><br/><br/>


  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="addNewUser()" label="Aceptar"></button>
    <button type="button" pButton icon="pi pi-close" (click)="modalUserDisplay=false" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>




