<app-navigation-bar [enterpriseName]="'Kruger Bolivia'" (toggleSidenav)="sidenav.toggle()"></app-navigation-bar>

<mat-sidenav-container class="allowed-height">

  <mat-sidenav #sidenav mode="side" role="navigation" [(opened)]="opened" (opened)="opened = true"
    (closed)="opened = false">
    <ng-container *ngTemplateOutlet="sidebar"></ng-container>
  </mat-sidenav>

  <mat-sidenav-content class="without-overflow">
    <div class="container-fluid allowed-height">
      <router-outlet name="sidebaroutlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>