$nav-list-icon-padding: 12px !default;

.nav-list-icon {
  margin: 0 $nav-list-icon-padding 0 $nav-list-icon-padding;
}

.mat-subheader {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
