<ng-container *ngIf="userMenu.length">
    <app-main-layout [sidebar]="sidebarPanel"></app-main-layout>
    <ng-template #sidebarPanel>
        <app-sidebar [menu]="userMenu"></app-sidebar>
    </ng-template>
</ng-container>